// styles.scss
// styles.scss

body {
    margin: 0; // Elimina los márgenes predeterminados
    padding: 0; // Elimina el relleno predeterminado
    font-family: 'Arial', sans-serif; // Puedes cambiar la fuente según tus preferencias
  }
  
.navbar {
    background-color: #3498db; // Color de fondo del navbar
    padding: 1rem; // Añadir espacio interno al navbar
    display: flex;
    justify-content: space-between; // Colocar los elementos a los extremos
    

    .navbar-span {
        color: #fff; // Color del texto del nombre
        font-size: 1.5rem; // Tamaño de fuente del nombre
        font-weight: bold; // Negrita
    }

    .btn {
        background-color: #e74c3c; // Color de fondo del botón
        color: #fff; // Color del texto del botón
        padding: 0.5rem 1rem; // Añadir espacio interno al botón
        border: none; // Eliminar borde
        cursor: pointer; // Cambiar el cursor al pasar sobre el botón
        transition: background-color 0.3s ease; // Agregar una transición suave al color de fondo
        outline: none;
        &:hover {
            background-color: #c0392b; // Cambiar color de fondo al pasar sobre el botón
        }

        span {
            margin-right: 0.5rem; // Añadir espacio entre el texto y el borde del botón
        }
    }
}
